rgbhue_flow.json
[
    {
        "id": "c8fe25bc.12837",
        "type": "tab",
        "label": "OLA-DMX-RGB-Hue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b47f63d7.e4ea38",
        "type": "http in",
        "z": "c8fe25bc.12837",
        "name": "Parse JSON data (RGB values) from OLA",
        "url": "/rgb-value/:rgb",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "a925d6bd.680fa8"
            ]
        ]
    },
    {
        "id": "a925d6bd.680fa8",
        "type": "template",
        "z": "c8fe25bc.12837",
        "name": "Send RGB values to HueMagic",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\"rgb\":[{{req.params.rgb}}]\n  }",
        "output": "json",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "211f1224.f792ee"
            ]
        ]
    },
    {
        "id": "211f1224.f792ee",
        "type": "hue-light",
        "z": "c8fe25bc.12837",
        "name": "Light 1",
        "bridge": "40cf568c.60e748",
        "lightid": "35",
        "colornamer": false,
        "x": 820,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "40cf568c.60e748",
        "type": "hue-bridge",
        "z": "",
        "name": "Hue bridge",
        "bridge": "192.168.0.1",
        "key": "1028d66426293e821ecfd9ef1a0731df",
        "interval": "3000"
    }
]
